header nav ul {
    background-color: lightgreen;
    padding: 10px;
}

header nav ul li a {
    color: red;
    font-weight: bold;
}

#storia .primopiano {
    color: blue;
}

#storia .secondopiano {
    color: magenta;
}

#monumenti p {
    color: blue;
}

article p.evidenziato {
    background-color: #87CEFA;
    color: blue;
    padding: 5px;
}

article p.evidenziato a {
    background-color: #FFFACD;
    color: blue;
}

figure figcaption {
    background-color: lightgrey;
    margin-top: 5px;
    padding: 2px;
}

footer p {
    border-top: 1px solid #ccc;
    color: #333;
}

#navSezione{
    background-color:lightgreen;
    color:blue;
}
 
#navSezione a {
    color: red;
}